/* globals.css */

/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #CADF9E;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CADF9E;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto; /* Enable scrolling but hide the scrollbar */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}

html, body {
  height: 100%;
}
